#navigation {
    background-color: #ffffff;
    height: 10vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    line-height: 4vh;
    padding: 0 8rem 0 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;

    .navigation__column {
        a {
            text-decoration: none;

            color: black;
        }
        #navigation__column__title {
            margin: 0;
            text-transform: bold;

            #navigation__column__icon {
                margin-right: 1rem;
            }
        }
    }

    .navigation__column:nth-child(2) {
        width: auto;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: end;
        justify-self: end;
        grid-gap: 0.5em;
        grid-template-rows: 100%;
    }

    #navigation__column__profile__container {
        height: 2.5rem;
        width: 2.5rem;
        display: grid;
        justify-self: end;
        align-items: center;

        #navigation__column__profile {
            height: 100%;
            width: 100%;
        }

        #navigation__column__profile:hover {
            cursor: pointer;
        }

        #navigation__column__profile__letter {
            background-color: #5271ff;
            text-align: center;
            align-self: center;
            border-radius: 50%/50%;
            font-size: 1.5rem;
            color: white;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
                "Lucida Sans", Arial, sans-serif;
            font-weight: 600;
        }
    }

    #navigation__column__button {
        height: 2rem;
        width: 5rem;
        background: transparent;
        border: solid 1px #757575;
        border-radius: 20px;
    }

    #navigation__column__button:hover {
        border-color: black;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1300px) {
    #navigation {
        padding: 0 5rem;
    }
}

@media only screen and (max-width: 550px) {
    #navigation {
        padding: 0 2rem;

        .navigation__column {
            #navigation__column__title {
                span {
                    display: none;
                }
            }
        }
    }
}
