#popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.493);
    height: 100vh;
    width: 100vw;
    z-index: 3;
    #popup__container {
        background-color: #ffffff;
        display: grid;
        grid-template-rows: 15% 25% auto;
        position: absolute;
        width: 40%;
        height: 40%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        border-radius: 30px;
        padding: 5rem;
        color: #494a4b;

        div {
            span {
                cursor: pointer;
            }
        }

        h1 {
            margin: 0;
        }

        p {
            font-size: 1.4rem;
        }
    }
}

@media only screen and (max-width: 700px) {
    #popup__overlay {
        #popup__container {
            padding: 3rem;
            width: 60%;
            height: 60%;
        }
    }
}
