#navigation {
  position: relative;
  background-color: #ffffff;
  height: 10vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  line-height: 4vh;
  padding: 0 8rem 0 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
#navigation .navigation__column a {
  text-decoration: none;
  color: black;
}
#navigation .navigation__column #navigation__column__title {
  margin: 0;
  text-transform: bold;
}
#navigation .navigation__column #navigation__column__title #navigation__column__icon {
  margin-right: 1rem;
}
#navigation .navigation__column #navigation__column__image__container {
  width: 100%;
  height: 10vh;
}
#navigation .navigation__column #navigation__column__image__container #navigation__column__image {
  height: 100%;
  width: auto;
}
#navigation .navigation__column:nth-child(2) {
  width: auto;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: end;
  justify-self: end;
  grid-gap: 0.5em;
  grid-template-rows: 100%;
}
#navigation #navigation__column__profile__container {
  height: 100%;
  width: 2.5rem;
  display: grid;
  justify-self: end;
  align-items: center;
}
#navigation #navigation__column__profile__container #navigation__column__profile {
  height: 100%;
  width: auto;
}
#navigation #navigation__column__profile__container #navigation__column__profile:hover {
  cursor: pointer;
}
#navigation .navigation__column__button {
  height: 2rem;
  width: 5rem;
  background: transparent;
  border: solid 1px #757575;
  border-radius: 20px;
  transition: 0.2s ease-in all;
}
#navigation .navigation__column__button:hover {
  border-color: #707070;
}
#navigation .navigation__column__button:hover {
  border-color: black;
  cursor: pointer;
}
#navigation #navigation__column__button__submit {
  background-color: #507fff;
  color: white;
  border: none;
}
#navigation #navigation__column__button__submit:hover {
  background-color: #4678ff;
}

@media only screen and (max-width: 1300px) {
  #navigation {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 550px) {
  #navigation {
    padding: 0 2rem;
  }
}
#post {
  background-color: #ffffff;
  margin: 2rem 0;
  padding: 1rem 2rem;
  display: grid;
  grid-gap: 6rem;
  grid-template-columns: 1fr auto;
  border-radius: 2px;
  transition: 0.2s ease-in all;
}
#post:hover {
  background-color: #fafafa;
}
#post .post__column {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr;
}
#post .post__column #post__column__profile__image__container,
#post .post__column #post__column__image__container {
  height: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5em;
  grid-template-rows: 100%;
}
#post .post__column #post__column__profile__image__container h2,
#post .post__column #post__column__image__container h2 {
  height: auto;
  width: auto;
  align-self: center;
  font-size: 0.8rem;
  margin: 0;
}
#post .post__column #post__column__profile__image__container h2 span,
#post .post__column #post__column__image__container h2 span {
  color: #5f5d5d;
}
#post .post__column #post__column__image__container {
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  padding: 0;
}
#post .post__column #post__column__image__container #post__column__image {
  justify-self: center;
  height: 15vh;
  width: 100%;
}
#post .post__column #post__column__text__container h2 {
  margin: 0;
}
#post .post__column #post__column__text__container p {
  margin: 0.5rem 0;
  color: #5f5d5d;
}
#post .post__column #post__column__text__container p span {
  background-color: #f2f2f2;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
}
#post .post__column:nth-child(1) {
  grid-template-rows: 2rem;
}

@media only screen and (max-width: 1250px) {
  #post {
    grid-template-columns: 2fr 1fr;
  }
  #post .post__column:nth-child(2) {
    width: auto;
    justify-self: center;
  }
}
@media only screen and (max-width: 1100px) {
  #post {
    grid-template-columns: 1fr;
  }
  #post .post__column:nth-child(2) {
    grid-row: 1;
  }
}
#new__writer__container {
  position: sticky;
  top: 0;
  margin: 2rem 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#new__writer__container div {
  padding: 1rem 1rem;
  background-color: #dcecf5;
  position: sticky;
  top: 0;
}
#new__writer__container div #new__writer__container__title {
  font-size: 1.5rem;
}
#new__writer__container div h5 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
#new__writer__container div p {
  margin-top: 0;
}
#new__writer__container div button {
  margin-top: 2rem;
  height: 2rem;
  width: 10rem;
  background: transparent;
  background-color: #191919;
  border: solid 1px transparent;
  border-radius: 20px;
  color: #c4dffa;
}
#new__writer__container div button:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s ease;
}

@media only screen and (max-width: 1250px) {
  #new__writer__container {
    display: none;
  }
}
#popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.493);
  height: 100vh;
  width: 100vw;
  z-index: 3;
}
#popup__overlay #popup__container {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 15% 15% auto;
  position: absolute;
  width: 40%;
  height: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 30px;
  padding: 5rem;
  color: #494a4b;
}
#popup__overlay #popup__container div span {
  cursor: pointer;
  transition: 0.2s ease-in all;
}
#popup__overlay #popup__container div span:hover {
  color: #171717;
}
#popup__overlay #popup__container h1 {
  margin: 0;
  height: fit-content;
}
#popup__overlay #popup__container p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 700px) {
  #popup__overlay #popup__container {
    padding: 3rem;
    width: 60%;
    height: 60%;
  }
}
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7fbfc;
}

/* Home */
#home {
  position: relative;
  display: grid;
  grid-gap: 10rem;
  grid-template-columns: 1.5fr 1fr;
  margin: 0 7rem;
}
#home a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 1250px) {
  #home {
    grid-template-columns: 1fr;
  }
  #home #post {
    padding: 2rem 8rem;
  }
}
@media only screen and (max-width: 700px) {
  #home {
    margin: 0 2rem;
  }
  #home #post {
    padding: 2rem 2rem;
  }
}
.story__button__container__back {
  margin: 3rem 0;
  margin-left: 8rem;
  justify-self: start;
}
.story__button__container__back .story__button__back {
  background: transparent;
  color: #a5a5a5;
  border: none;
  font-size: 1.3rem;
  justify-self: left;
  transition: 0.2s ease-in all;
  cursor: pointer;
}
.story__button__container__back .story__button__back:hover {
  color: #a0a0a0;
}

#new__story {
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
  grid-gap: 2rem;
}
#new__story #new__story__input__title,
#new__story .new__story__input__text {
  height: 4rem;
  font-size: 2rem;
  border: solid #949494 1px;
  padding: 1rem 2rem;
  color: #bcbcbc;
}
#new__story .new__story__input__text {
  font-size: 1.5rem;
  min-height: 40vh;
  padding-top: 2rem;
}
#new__story #new__story__input__title::placeholder,
#new__story #new__story__input__text::placeholder {
  color: #b3b3b1;
}
#new__story button {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  width: 10%;
  background-color: #507fff;
  color: white;
  padding: 0.8rem 1rem;
  font-size: 1.3rem;
  font-weight: 200;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#new__story button:hover {
  background-color: #5b85f8;
}
#new__story button span {
  position: absolute;
  right: 1rem;
}

/* Account */
#account {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#account > div {
  display: grid;
  padding: 0 8rem;
  align-items: center;
  height: 70vh;
  width: 45vw;
  grid-gap: 3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
}
#account > div h1 {
  font-weight: 400;
  align-self: flex-end;
  text-align: center;
}
#account > div form {
  display: grid;
  align-self: flex-start;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
#account > div form .signin__container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f4f8fb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#account > div form .signin__container label {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  color: #494a4b;
}
#account > div form .signin__container input {
  height: 2rem;
  background-color: transparent;
  border-left: none;
  border-top: none;
  border-right: none;
}
#account > div form .signin__container input:focus {
  outline: none;
}
#account > div form .signin__container button {
  position: relative;
  background-color: #004aad;
  color: white;
  padding: 0.8rem 1rem;
  font-size: 1.3rem;
  font-weight: 200;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#account > div form .signin__container button a {
  text-decoration: none;
  color: white;
}
#account > div form .signin__container button:hover {
  background-color: #5b85f8;
}
#account > div form .signin__container button span {
  position: absolute;
  right: 1rem;
}
#account > div form #signup__container p {
  text-align: center;
}
#account > div form #signup__container p a {
  color: #004aad;
  font-weight: 700;
  cursor: pointer;
}

/* Story */
#story {
  text-align: center;
  display: grid;
  justify-content: center;
}
#story #story__container__image {
  display: grid;
  grid-template-columns: 30%;
  grid-template-rows: 35vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
#story #story__container__image .story__container__image__wide {
  height: 100%;
  width: 100%;
}
#story #story__container__image__title {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
  padding: 2rem 0;
  padding-top: 0;
}
#story #story__container__text {
  display: grid;
  grid-template-columns: 60%;
  justify-content: center;
}
#story #story__container__text p {
  font-size: 2rem;
  color: #a5a5a5;
  letter-spacing: -0.003em;
  line-height: 32px;
  font-size: 1.4rem;
}

#not-found {
  height: 90vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #14AA84;
}
#not-found h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
  margin: 0;
}
#not-found #not-found__image {
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  #story #story__container__image {
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 750px) {
  .story__button__container__back {
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 700px) {
  #account > div {
    padding: 0 3rem;
    width: auto;
  }
}
@media only screen and (max-width: 1000px) {
  #new__story {
    padding: 0;
  }
  #new__story #new__story__input__title,
#new__story .new__story__input__text {
    width: auto;
  }
}
@media only screen and (max-width: 500px) {
  #new__story .rdw-editor-wrapper .rdw-editor-toolbar {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
